body {
    background-color: black;
    overflow-x: hidden;
    margin-left: 0;
}

header {
    width: 1511px;
    margin: auto;
    position: relative;
}

.head-photo img {
    width: 1400px;
    margin-top: 110px;
}

.header_stroke {
    width: 1590px;
    background-color: #4d4d4d;
    height: 30px;
    position: absolute;
    margin-left: -20px !important;
    top: 150px;
    opacity: 1;
    color: #FFCC00 !important;
}

.header_stroke a {
    color: #FFCC00 !important;
}

.header_stroke a:hover {
    color: #FFCC00;
}

.header_stroke ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

@media(max-width: 750px) {
    .header_stroke {
        width: 403%;
    }
}

.logo {
    position: absolute;
    top: 40px;
    left: 60px;
}

.entry-content {
    width: 1530px;
    margin: auto;
    font-family: 'Amaranth', sans-serif;
}

.top-offers__item {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px 0px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 1120px;
    color: black;
}

.top-offers__item__name {
    font-weight: 700;
}

.top-offers {
    width: 1511px;
    margin-left: 180px;
}

.top-offers__item__col:nth-child(2) {
    border-left: 1px solid black;
    padding-left: 70px;
    border-right: 1px solid black;
    padding-right: 25px;
}

.top-offers__item__col:nth-child(3) {
    border-right: 1px solid black;
    height: 63px;
    padding-right: 20px;
}

.top-offers__item__buttons__button {
    font-weight: 400;
    text-transform: none;
    font-family: "Amaranth", sans-serif;
    font-size: 19px;
    line-height: 1.7;
    color: #c4c4c4;
    text-align: center;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.btn-visit-site {
    font-weight: 400;
    text-transform: none;
    font-family: "Amaranth", sans-serif;
    line-height: 1.7;
    border: 0;
    margin: 0;
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    background-color: #201f1d;
    color: #5ddee8;
    padding: 10px 15px;
    width: 170px;
    text-align: center;
    border-radius: 40px;
    font-size: 22px;
}

.top-offers__item__buttons {
    font-size: 19px;
    line-height: 1.7;
    font-family: 'Amaranth', sans-serif;
    color: black;
}

.btn-sign-up {
    font-weight: 400;
    text-transform: none;
    font-family: "Amaranth", sans-serif;
    line-height: 1.7;
    border: 0;
    margin: 0;
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    background-color: #5ddee8;
    color: #201f1d;
    padding: 10px 15px;
    width: 170px;
    text-align: center;
    border-radius: 40px;
    font-size: 22px;
}

.top-offers__item__rating__score {
    margin-top: 14px;
    margin-left: -70px;
}

.top-offers__item:first-child::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-right: 100px solid transparent;
    top: 0px;
    left: 0px;
}

.top-offers__item:first-child::before {
    content: attr(attr-offer-number);
    display: block;
    position: absolute;
    left: 20px;
    top: 8px;
    z-index: 1;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
}

.top-offers__item::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 70px solid #000000;
    border-right: 70px solid transparent;
    top: 0px;
    left: 0px;
}

.top-offers__item::before {
    content: attr(attr-offer-number);
    display: block;
    position: absolute;
    left: 15px;
    top: 8px;
    z-index: 1;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}

.top-offers__item__rating__stars__star .img-star {
    background: url(/img/star.svg) center no-repeat;
    background-size: cover;
    width: 17px;
    height: 16px;
}

.top-offers__item__rating {
    font-weight: 400;
    text-transform: none;
    font-family: "Amaranth", sans-serif;
    font-size: 19px;
    line-height: 1.7;
    color: #c4c4c4;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 4px 15px 6px;
    border: 1px solid #201f1d;
    border-radius: 40px;
    width: 190px;
    margin-left: -70px;
}

.top-offers__item__rating__stars {
    font-weight: 400;
    text-transform: none;
    font-family: "Amaranth", sans-serif;
    font-size: 19px;
    line-height: 1.7;
    color: #c4c4c4;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.top-offers__item__rating__score {
    text-transform: none;
    font-family: "Amaranth", sans-serif;
    line-height: 1.7;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    color: #201f1d;
    font-size: 20px;
    margin-left: 18px;
}

.main,
#fst-p {
    color: rgb(196, 196, 196);
    text-align: justify;
    font-size: 19px;
    width: 1250px;
    margin: auto;
}

strong {
    color: white !important;
}

#fst-img {
    float: right;
    margin-left: 10px;
}

@media (max-width: 748px) {
    header {
        width: 230%;
    }
    .head-photo img {
        width: 190%;
    }
    .header_stroke {
        width: 192%;
        height: 63px;
    }
    .header_stroke ul {
        font-size: 40px;
    }
    .main,
    #fst-p {
        font-size: 44px !important;
    }
    h1 {
        font-size: 66px !important;
    }
    .entry-content {
        margin-left: -2%;
    }
    h2 {
        font-size: 50px !important;
    }
    h3 {
        font-size: 40px !important;
    }
    .logo img {
        width: 470px;
    }
    .top-offers {
        margin-left: 120px;
    }
    .top-offers__item {
        width: 1220px;
        font-size: 40px !important;
    }
    .top-offers__item__rating__score {
        font-size: 30px;
    }
}

#sec-img {
    margin-left: 120px;
}

#thr-img {
    float: left;
}

.p-under-thr-img {
    margin-top: 80px;
    display: block;
}

#und-img {
    display: block;
    margin-top: 60px;
}

a:hover {
    color: white;
}

#cookie {
    display: flex;
    position: fixed;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #000;
    margin: auto;
    width: 1520px;
}

.cookie-text {
    color: black;
}

#cookie-btt {
    border-radius: 200px;
    margin-left: 70px;
    border: 1px solid black;
    width: 140px;
    height: 50px;
    cursor: pointer;
}

body {
    background-color: #000000;
    color: #ffffff;
}

a:hover,
a:focus,
a:active {
    color: #5ddee8;
}

body .grid-container {
    max-width: 1100px;
}

.wp-block-group__inner-container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

body,
button,
input,
select,
textarea {
    font-family: "Amaranth", sans-serif;
    font-size: 19px;
}

body {
    line-height: 1.7;
}

p {
    margin-bottom: 1.2em;
}

.entry-content>[class*="wp-block-"]:not(:last-child) {
    margin-bottom: 1.2em;
}

.main-title {
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.main-navigation a,
.menu-toggle {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
}

.main-navigation .main-nav {
    font-size: 15px;
}

.widget-title {
    font-size: 23px;
    margin-bottom: 20px;
}

h1 {
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 0.8em;
    margin-bottom: 54px;
    width: 1250px;
    margin: auto;
}

h2 {
    font-family: "Amaranth", sans-serif;
    font-weight: 600;
    font-size: 33px;
}

h3 {
    font-family: "Amaranth", sans-serif;
    font-weight: 600;
    font-size: 28px;
}

.site-info {
    font-size: 16px;
}

@media (max-width:768px) {
    .main-title {
        font-size: 20px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
}

.top-bar {
    background-color: #636363;
    color: #ffffff;
}

.site-header {
    background-color: #ffffff;
    color: #3a3a3a;
}

.main-title a:hover {
    color: #ffffff;
}

.site-description {
    color: #757575;
}

.main-navigation,
.main-navigation ul ul {
    background-color: #000000;
}

.main-navigation .main-nav ul li a,
.menu-toggle {
    color: #ffffff;
}

.main-navigation .main-nav ul li:hover>a,
.main-navigation .main-nav ul li:focus>a,
.main-navigation .main-nav ul li.sfHover>a {
    color: #5ddee8;
    background-color: #000000;
}

button.menu-toggle:hover,
button.menu-toggle:focus,
.main-navigation .mobile-bar-items a,
.main-navigation .mobile-bar-items a:hover,
.main-navigation .mobile-bar-items a:focus {
    color: #ffffff;
}

.main-navigation .main-nav ul li[class*="current-menu-"]>a {
    color: #5ddee8;
    background-color: #000000;
}

.main-navigation .main-nav ul li[class*="current-menu-"]>a:hover,
.main-navigation .main-nav ul li[class*="current-menu-"].sfHover>a {
    color: #5ddee8;
    background-color: #000000;
}

.navigation-search input[type="search"],
.navigation-search input[type="search"]:active,
.navigation-search input[type="search"]:focus,
.main-navigation .main-nav ul li.search-item.active>a {
    color: #5ddee8;
    background-color: #000000;
}

.main-navigation ul ul {
    background-color: #3f3f3f;
}

.main-navigation .main-nav ul ul li a {
    color: #ffffff;
}

.main-navigation .main-nav ul ul li:hover>a,
.main-navigation .main-nav ul ul li:focus>a,
.main-navigation .main-nav ul ul li[class*="current-menu-"]>a:hover,
.separate-containers .inside-article,
.separate-containers .comments-area,
.separate-containers .page-header,
.one-container .container,
.separate-containers .paging-navigation,
.inside-page-header {
    color: #c4c4c4;
    background-color: #201f1d;
}

.inside-article a,
.inside-article a:visited,
.paging-navigation a,
.paging-navigation a:visited,
.comments-area a,
.comments-area a:visited,
.page-header a,
.page-header a:visited {
    color: #ffffff;
}

.inside-article a:hover,
.paging-navigation a:hover,
.comments-area a:hover,
.page-header a:hover {
    color: #5ddee8;
}

.entry-title a,
.entry-title a:visited {
    color: #ffffff;
}

.entry-title a:hover {
    color: #5ddee8;
}

.entry-meta {
    color: #ffffff;
}

.entry-meta a,
.entry-meta a:visited {
    color: #ffffff;
}

.entry-meta a:hover {
    color: #5ddee8;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

h3 {
    color: #ffffff;
}

.sidebar .widget {
    background-color: #201f1d;
}

.sidebar .widget .widget-title {
    color: #ffffff;
}

.footer-widgets {
    background-color: #000000;
}

.footer-widgets a,
.footer-widgets a:visited {
    color: #ffffff;
}

.footer-widgets a:hover {
    color: #5ddee8;
}

.footer-widgets .widget-title {
    color: #000000;
}

.site-info {
    color: #ffffff;
    background-color: #000000;
}

.site-info a,
.site-info a:visited {
    color: #ffffff;
}

.site-info a:hover {
    color: #606060;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
select {
    color: #c9c9c9;
    background-color: #424242;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    color: #c9c9c9;
    background-color: #424242;
    border-color: #bfbfbf;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
a.button,
a.button:visited,
a.wp-block-button__link:not(.has-background) {
    color: #5ddee8;
    background-color: #201f1d;
}

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
a.button:hover,
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
a.button:focus,
a.wp-block-button__link:not(.has-background):active,
a.wp-block-button__link:not(.has-background):focus,
a.wp-block-button__link:not(.has-background):hover {
    color: #201f1d;
    background-color: #5ddee8;
}

.generate-back-to-top,
.generate-back-to-top:visited {
    background-color: rgba( 0, 0, 0, 0.4);
    color: #ffffff;
}

.generate-back-to-top:hover,
.generate-back-to-top:focus {
    background-color: rgba( 0, 0, 0, 0.6);
    color: #ffffff;
}

.entry-content .alignwide,
body:not(.no-sidebar) .entry-content .alignfull {
    margin-left: -40px;
    width: calc(100% + 80px);
    max-width: calc(100% + 80px);
}

.separate-containers .widget,
.separate-containers .site-main>*,
.separate-containers .page-header,
.widget-area .main-navigation {
    margin-bottom: 23px;
}

.separate-containers .site-main {
    margin: 23px;
}

.both-right.separate-containers .inside-left-sidebar {
    margin-right: 11px;
}

.both-right.separate-containers .inside-right-sidebar {
    margin-left: 11px;
}

.both-left.separate-containers .inside-left-sidebar {
    margin-right: 11px;
}

.both-left.separate-containers .inside-right-sidebar {
    margin-left: 11px;
}

.separate-containers .page-header-image,
.separate-containers .page-header-contained,
.separate-containers .page-header-image-single,
.separate-containers .page-header-content-single {
    margin-top: 23px;
}

.separate-containers .inside-right-sidebar,
.separate-containers .inside-left-sidebar {
    margin-top: 23px;
    margin-bottom: 23px;
}

.main-navigation .main-nav ul li a,
.menu-toggle,
.main-navigation .mobile-bar-items a {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 52px;
}

.main-navigation .main-nav ul ul li a {
    padding: 10px 30px 10px 30px;
}

.navigation-search input {
    height: 52px;
}

.rtl .menu-item-has-children .dropdown-menu-toggle {
    padding-left: 30px;
}

.menu-item-has-children .dropdown-menu-toggle {
    padding-right: 30px;
}

.rtl .main-navigation .main-nav ul li.menu-item-has-children>a {
    padding-right: 30px;
}

.site-info {
    padding: 10px;
}

@media (max-width:768px) {
    .separate-containers .inside-article,
    .separate-containers .comments-area,
    .separate-containers .page-header,
    .separate-containers .paging-navigation,
    .one-container .site-content,
    .inside-page-header,
    .wp-block-group__inner-container {
        padding: 30px;
    }
    .entry-content .alignwide,
    body:not(.no-sidebar) .entry-content .alignfull {
        margin-left: -30px;
        width: calc(100% + 60px);
        max-width: calc(100% + 60px);
    }
}

.one-container .sidebar .widget {
    padding: 0px;
}


/* End cached CSS */

@media (max-width: 768px) {
    .main-navigation .menu-toggle,
    .main-navigation .mobile-bar-items,
    .sidebar-nav-mobile:not(#sticky-placeholder) {
        display: block;
    }
    .main-navigation ul,
    .gen-sidebar-nav {
        display: none;
    }
    [class*="nav-float-"] .site-header .inside-header>* {
        float: none;
        clear: both;
    }
}

button.menu-toggle:before,
.search-item a:before,
.dropdown-menu-toggle:before,
.cat-links:before,
.tags-links:before,
.comments-link:before,
.nav-previous .prev:before,
.nav-next .next:before,
.generate-back-to-top:before {
    display: none;
}

.navigation-branding .main-title {
    font-weight: 700;
    text-transform: none;
    font-size: 25px;
    font-family: "Amaranth", sans-serif;
}

@media (max-width: 768px) {
    .navigation-branding .main-title {
        font-size: 20px;
    }
}

.main-navigation .main-nav ul li a,
.menu-toggle,
.main-navigation .mobile-bar-items a {
    transition: line-height 300ms ease
}

.main-navigation.toggled .main-nav>ul {
    background-color: #000000
}

@media (max-width: 768px) {
    .menu-toggle,
    .main-navigation .mobile-bar-items a {
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-navigation .main-nav ul li a,
    .menu-toggle,
    .main-navigation .mobile-bar-items a {
        line-height: 50px;
    }
    .main-navigation .site-logo.navigation-logo img,
    .mobile-header-navigation .site-logo.mobile-header-logo img,
    .navigation-search input {
        height: 50px;
    }
}

@media (max-width:768px) {
    .footer-widgets {
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }
}

.post-image,
.page-content,
.entry-content,
.entry-summary,
footer.entry-meta {
    margin-top: 1.6em;
}

.post-image-above-header .inside-article div.featured-image,
.post-image-above-header .inside-article div.post-image {
    margin-bottom: 1.6em;
}

.slideout-navigation.main-navigation {
    background-color: rgba(10, 10, 10, 0.95);
}

.slideout-navigation.main-navigation .main-nav ul li a {
    color: #ffffff;
    font-weight: 200;
    text-transform: none;
    font-size: 25px;
}

.slideout-navigation.main-navigation ul ul {
    background-color: rgba(0, 0, 0, 0);
}

.slideout-navigation.main-navigation .main-nav ul ul li a {
    color: #ffffff;
    font-size: 24px;
}

.slideout-navigation.main-navigation .main-nav ul li:hover>a,
.slideout-navigation.main-navigation .main-nav ul li:focus>a,
.slideout-navigation.main-navigation .main-nav ul li.sfHover>a {
    background-color: rgba(0, 0, 0, 0);
}

.slideout-navigation.main-navigation .main-nav ul ul li:hover>a,
.slideout-navigation.main-navigation .main-nav ul ul li:focus>a,
.slideout-navigation.main-navigation .main-nav ul ul li.sfHover>a {
    background-color: rgba(0, 0, 0, 0);
}

.slideout-navigation.main-navigation .main-nav ul li[class*="current-menu-"]>a,
.slideout-navigation.main-navigation .main-nav ul li[class*="current-menu-"]>a:hover,
.slideout-navigation.main-navigation .main-nav ul li[class*="current-menu-"].sfHover>a {
    background-color: rgba(0, 0, 0, 0);
}

.slideout-navigation.main-navigation .main-nav ul ul li[class*="current-menu-"]>a,
.slideout-navigation.main-navigation .main-nav ul ul li[class*="current-menu-"]>a:hover,
.slideout-navigation.main-navigation .main-nav ul ul li[class*="current-menu-"].sfHover>a {
    background-color: rgba(0, 0, 0, 0);
}

.slideout-navigation,
.slideout-navigation a {
    color: #ffffff;
}

.slideout-navigation button.slideout-exit {
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
}

.slide-opened nav.toggled .menu-toggle:before {
    display: none;
}

a:hover {
    color: white !important;
}

.navigation-branding img,
.site-logo.mobile-header-logo img {
    height: 52px;
    width: auto;
}

.navigation-branding .main-title {
    line-height: 52px;
}

@media (max-width: 1110px) {
    #site-navigation .navigation-branding,
    #sticky-navigation .navigation-branding {
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .main-navigation:not(.slideout-navigation) .main-nav {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    .main-navigation:not(.slideout-navigation) .inside-navigation {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .nav-aligned-center .navigation-branding,
    .nav-aligned-left .navigation-branding {
        margin-right: auto;
    }
    .nav-aligned-center .main-navigation.has-branding:not(.slideout-navigation) .inside-navigation .main-nav,
    .nav-aligned-center .main-navigation.has-sticky-branding.navigation-stick .inside-navigation .main-nav,
    .nav-aligned-left .main-navigation.has-branding:not(.slideout-navigation) .inside-navigation .main-nav,
    .nav-aligned-left .main-navigation.has-sticky-branding.navigation-stick .inside-navigation .main-nav {
        margin-right: 0px;
    }
    .navigation-branding img,
    .site-logo.mobile-header-logo {
        height: 50px;
    }
    .navigation-branding .main-title {
        line-height: 50px;
    }
}


/* .p-under-thr-img {
    margin-top: 80px;
    display: block;
}

#und-img {
    display: block;
    margin-top: 60px;
} */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.main-404 h1 {
    font-family: 'Lobster', cursive;
}

.main-404 {
    width: 100%;
    height: 620px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}